name: Build and Publish One-File Standalone Executable for Windows

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      id: checkout
      uses: actions/checkout@v4

    - name: Set up Python
      id: install-python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      id: install-deps
      run: |
        choco install zip
        pip install -r requirements.txt

    - name: Compile Python script to standalone executable (one only file)
      id: compile
      uses: Nuitka/Nuitka-Action@main
      with:
         nuitka-version: main
         script-name: dynalogdown.py
         onefile: true

    - name: Zip files for release
      id: zip
      run: |
        zip -j dynalogdown.zip build/dynalogdown.exe config.template.ini

    - name: Get the latest tag
      id: get-tag
      run: |
        echo "name=TAG::$(git describe --tags $(git rev-list --tags --max-count=1))" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Create Release
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG }}
        release_name: Release ${{ env.TAG }}
        draft: false
        prerelease: true

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: ./dynalogdown.zip
        asset_name: dynalogdown.zip
        asset_content_type: application/zip
